<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="Access-Control-Allow-Origin" />
                <add name="Content-Security-Policy" value="script-src 'self'" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
